@CHARSET "ISO-8859-1";
body
{
	background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url(../images/normal.jpg);
	margin: 0;
  	padding: 0; 
  	background-size: cover;
}
.header
{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.3);
}
.footer
{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.8;
	text-align: center;
}
.bt
{
	border: none;
	background-color: transparent;
	font-size: 18px;
	transform: rotate(-90deg);
	margin-bottom: 0.2%;
	margin-top: 0.2%;
	margin-left: 11%;
	margin-right: 11%;
	cursor: pointer;
}
.bar
{
	margin-top: 4px;
	margin-bottom: 1px;
	height: 20px;
	float: right;
	cursor: pointer;
	padding-right: 5px;
	opacity: 0.9;
	filter: invert(100%);
}
.dropdown
{
	height: 4%;
	width: 4%;
	padding: 8px;
}
#drop
{
	margin-left: 5px;
	animation: beat 1.6s infinite;
	transform-origin: left;
	cursor: pointer;
	filter: invert(100%);
}
@keyframes beat
{
	0% {transform: scale(1.4, 1.4);}
	16% {transform: scale(1.1, 1.1);}
	33% {transform: scale(1.4, 1.4);}
	49% {transform: scale(1.1, 1.1);}
	100% {transform: scale(1.4, 1.4);}
}
.drop 
{
	height: 0;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255, 0.9);
	overflow: hidden;
	transition: 0.5s;
}
.drop-content 
{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
}
.drop a
{
	text-decoration: none;
	color: #818181;
}
.drop a:hover, .drop a:focus {color: black;}
.drop .close 
{
	position: absolute;
	bottom: 0;
	right: 50%;
	font-size: 50px;
	transform: rotate(-90deg);
}
@media screen and (max-height: 450px) 
{
	.drop .close 
	{
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}
#back
{
	margin-top: 30px;
	margin-left: 35%;
}
#login
{
	font-family: Agency FB;
	letter-spacing: 0.1em;
	font-size: 15px;
	font-weight: bold;
}
legend
{
	background-color: #efefef;
	border: 3px solid #dcdcdc;
	border-radius: 10px;
	padding: 6px 20px;
	font-family: Agency FB;
	font-size: 20px;
	letter-spacing: 0.05em;
}
fieldset{
	width: 400px;
	background-color: rgba(255,255,255,0.8);
	border: none;
	border-radius:10px;
}
input[type="text"], input[type="number"], input[type="email"], input[type="password"] {
	height: 30px;
	width: 250px;
	background-color: #f0f5f5;
	border:none;
	text-align: center;
	font-size:14px;
	border-radius: 20px;
}
input[type="number"]
{
	-moz-appearance: textfield;
}
input[type="submit"]{
	border-radius: 20px;
	border:none;
	background-image: linear-gradient(#D38312, #A83279);
	color: #FFFFFF;
	font-size: 12px;
	padding: 12px 45px;
	letter-spacing: 1px;
	cursor: pointer;
}
textarea{
	height: 30px;
	width: 250px;
	background-color: #f0f5f5;
	border:none;
	text-align: center;
	font-size:14px;
	border-radius: 20px;
	border-bottom-right-radius:0;
	padding-top: 10px;
}
.logo {
	animation: beat 1.6s infinite;
	position: absolute;
}
@keyframes beat{
	0% {transform: scale(1.4, 1.4);}
	16% {transform: scale(1.1, 1.1);}
	33% {transform: scale(1.4, 1.4);}
	49% {transform: scale(1.1, 1.1);}
	100% {transform: scale(1.4, 1.4);}
}
a {text-decoration: none;}